/* src/components/css/ViewAssignedKeysPage.css */

.assigned-keys-container {
    max-width: 100%;
    padding: 20px;
}

.key-list {
    list-style: none;
    padding: 0;
}

.key-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.page-description {
    margin-top: 20px;
}

/* Aggiungiamo regole per gestire il layout in modo responsivo */

@media screen and (max-width: 768px) {
    .key-item {
        padding: 8px;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 576px) {
    .key-item {
        padding: 6px;
        font-size: 0.8em;
    }
}
